/* 
MUDANDO O PLANO DE FUNDO
backround-color
background-image: url('img.gif')
background-repeat
background-attachent
background-position
*/

/* CORES PODEM SER DEFINIDAS COMO:
Hexadecimal:: #ff000
RGB: RGB (255,0,0)
Nomes de cores: Red
*/
/*FORMATAÇÃO DE TEXTOS E FONTES
   
   font-style: italic;/
   font-weight:bold;
   text.decoration: underline;


*/
/*----CORPO DA PAGINA---*/

body{background-color: 	#363636;}




/*---MENU*/

.menu
{background-color:#c2341b ;
height:25px;
padding: 10px;

}

.menu ul
{
list-style: none; /*removendo os ícones da lista*/
margin: 0; /*posicionando a lista rente a faixa do menu (acima)*/
padding: 0;/*Espaçamento entre lista e margem da esquerda*/


}
.menu ul li

{
float: left;


}
.menu ul li a

{
  padding: 10px;
  font-family:  'Arial Narrow';
  font-size: 12px;
  font-weight: bold;
  text-decoration: none; /*Retirar Sublinhado*/
  text-transform: uppercase;
}

.menu ul li a:hover
{
  background: rgb(20, 18, 26);

}

/* H1*/
h1
{
  font-size: 60px;
  background-color: rgb(218, 215, 215);
  color: #c2341b;
  text-align: center;
  font-family: Trebuchet ;
}

/*tabela*/

table
{

width: 80%;
height: 400px;
margin-left: auto;
margin-right: auto;
background-color: rgb(218, 215, 215);
border-collapse: collapse;
font-family:  'Arial Narrow';
text-align: center;

}
table, th, td {
  
  border: 1px solid rgb(36, 43, 43);
  padding-top: 5px;
  
  
}
td{

  width: 25%; /*largura das colunas*/


}
th{
  background-color: #BA0000;/*COR DE FUNDO*/
  font-family: 'Arial Narrow';/*FONTE DO TÍTULO DA TABELA*/
  font-size: large;/*TAMANHO DA FONTE DO TÍTULO DA TABELA*/
  color: white;/*COR DA FONTE DO TÍTULO*/
  height: 50px;/*ALTURA DA LINHA*/
}

.subtitulo{

    background-color: #9c2e1b;
    color: white;
    font-weight: bold;


}
.titulo{
    background-color: #c2341b;
    color: white;
    font-weight: bold;
    font-style: italic;
    text-decoration:wavy;

}

.titulofilme{
    background-color: #749963;
    font-weight: bold;
    font-style: italic;
 
}

.titulofilme2{
    background-color: #5d7a4f;
    font-weight: bold;
}